# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=finledger
DATABASE_PASSWORD=finledger
DATABASE_NAME=finledger

# MongoDB
MONGODB_URI=mongodb://localhost:27017/finledger

# NATS
NATS_URL=nats://localhost:4222

# App
PORT=3000
